body
{
 background-color:#edb879;     
  text-align: center;  
}
.header
{
  font-weight:bold;
  font-size:40px;
   padding-bottom: 25px; 
}
.ibox
{
    width: 200px;
    background-color: yellowgreen;
    margin-left:20px;
}
.LBLArea
{
 font-weight:bold;
  font-size:20px;   
}
.LBLPerimeter
{
  font-weight:bold;
  font-size:20px;     
}
